html {
	background-color: #eecfdb;
	color: #221d3d;
}

h1 {
	font-family: 'Permanent Marker', cursive;
}

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}

input {
-webkit-border-radius: initial;
-moz-border-radius: initial;
-o-border-radius: initial;
border-radius: initial;
border: initial;
}

input[type=submit] {
	cursor: pointer;
	background-color: #221d3d;
}